<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<div id="main">
	<div class = "header">
		<h1 class="title">Login</h1>
	</div>
	<div id="line"></div>
	<div class="loginresult">
		<p id="result"></p>
	</div>
</div>
</body>
</html>