<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<div id="main">
	<div class="header">
		<h1>Login-Register App</h1>
	</div>
	<div id="line"></div>

	<div class="maintext">
		<p>This is a simple login and register web app developed with node and express, using mySql as a database. The
			source on this can be found on:
			<a href="https://github.com/AcidRogue/Simple-Login-App">github</a>. Feel free to send me a mail if you have
			any questions.
		</p>
	</div>

	<div class="prompt">
		<p>You can login or register from here:</p>
		<div>
			<button onclick="location.href='login.html'">Login</button>
			<button onclick="location.href='register.html'">Register</button>
		</div>
	</div>
</div>
</body>
</html>