<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<div id="main">
	<div class="header">
		<h1 class="title">Login-Register App</h1>
	</div>
	<div id="line"></div>

	<div class="maintext">
		<p>This is a simple login and register web app developed with node and express, using mySql as a database. The
			source on this can be found on:
			<a href="https://github.com/AcidRogue/Simple-Login-App">github</a>. Feel free to send me a mail if you have
			any questions.
		</p><br/>

		<p>You can login or register from here:</p>
		<div>
			<form action="login.hbs">
				<button type="submit">Login</button>
			</form>
			<form action="register.hbs">
				<button type="submit">Register</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>