<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<div id="main">
	<div class = "header">
		<h1 class="title">Login</h1>
		<p class = "subtitle">Please enter your credentials</p>
	</div>
	<div id="line"></div>

	<form action="login.hbs" method="post">
		<div id="loginForm">
			<div class="username">
				<p>Username or E-Mail:</p>
				<input type="text" name="username_email">
			</div>

			<div class="password">
				<p>Password:</p>
				<input type="password" name="password">
			</div>
		</div>

		<div class="loginDiv" id="registerbtn">
			<button type="submit">Login</button>
		</div>

		<div class = "error">
			<ul>
				{{#each errors}}
					<li><p>{{error}}</p></li>
				{{/each}}
			</ul>
		</div>
	</form>

	<div id="noaccount"><p>Don't have an account? Register <a id="register" href="register.hbs">here.</a></p></div>
</div>
</body>
</html>