<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<div id="main">
	<div id="loginDiv">
		<h1>Register</h1>
		<p>Please enter your credentials</p>
	</div>
	<div id="line"></div>

	<form action="register.html" method="post">
		<div id="loginForm">
			<div class="username">
				<p>Username:</p>
				<input type="text">
			</div>

			<div class="username">
				<p>E-Mail:</p>
				<input type="text">
			</div>

			<div class="password">
				<p>Password:</p>
				<input type="password">
			</div>

			<div class="password">
				<p>Repeat password:</p>
				<input type="password">
			</div>
		</div>

		<div class="button">
			<button type="submit">Register</button>
		</div>
	</form>
</div>
</body>
</html>